.specialOffer {
    width: 100%;
    /* margin-left: 5rem; */
}

.specialOffer>div {
    display: flex;
}

.recommend>div {
    display: flex;
}

.container {
    margin: 0.5rem;
}

img {
    width: 250px;
    height: 340px;
}